<div class="cart-pop-up-min-sum hide">
    <button class="btn-icon-close">{% include 'icon-close' %}</button>
    <h4>Cannot place order,<br> conditions not met:<br> Minimum order value is $60.</h4>
    <button class="btn-agree">Ok</button>
</div>