{% unless template == 'cart' %}
    <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer" data-section-type="cartDrawer">
        <div class="drawer__container">
            <header class="drawer__fixed-header">
                <div class="drawer__back">
                    <button type="button" class="drawer__back-button">
                        {% include 'icon-arrow-left' %}
                    </button>
                </div>
                <div class="drawer__title">Cart<div class="drawer__count"><span>{{ cart.item_count }}</span></div></div>
                <div class="drawer__close">
                    <button type="button" class="drawer__close-button js-drawer-close">
                        {% include 'icon-close' %}
                    </button>
                </div>
            </header>
            <div class="custom-spinner-drawer hide">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="drawer__cart-empty hide">
                <h2>{{ 'cart.general.empty' | t }}</h2>
                <div class="cart-empty-img">
                    <img src="https://cdn.shopify.com/s/files/1/2780/3998/files/empty-cart.png?v=1599552243" alt="empty cart with Workout Meals ™ Sponsored Athlete Robbie Frame">
                </div>
                <p>Please add new meals!</p>
                <ul class="cart-empty-links">
                    <li><a href="/collections/menu">menu</a></li>
                    <li><a href="/collections/meal-packs-new">meal packs</a></li>
                </ul>
            </div>
            <div class="drawer__cart-delivery hide">
                <div class="delivery-image">{% include 'icon-delivery' %}</div>
                <h2>Check if we deliver to you</h2>
                <div class="delivery-input-region">
                    <input id="drawer__cart-input"  type="text" class="" placeholder="Enter suburb name or postcode" autocomplete="off">
                </div>
                <ul class="drawer__cart-regions" style="cursor: pointer; background-color: white; display: none;"></ul>

                <div class="delivery-date-wrapper hide">
                    <h3>Delivery Date</h3>
                    <div>
                        <ul class="cart--available-delivery-days">
                            {% comment %}
                            <li><label class="radio-days">
                                    <input type="radio" id="delivery-date-0" class="delivery-date" checked="checked" name="delivery-date" value="You need to get it by JS">
                                    <div class="radio__text"></div>
                                </label></li>
                            <li><label class="radio-days">
                                    <input type="radio" id="delivery-date-1" class="delivery-date" name="delivery-date" value="You need to get it by JS">
                                    <div class="radio__text"></div>
                                </label></li>
                            <li><label class="radio-days">
                                    <input type="radio" id="delivery-date-2" class="delivery-date" name="delivery-date" value="You need to get it by JS">
                                    <div class="radio__text"></div>
                                </label></li>
                            {% endcomment %}
                        </ul>
                        <div class="business-hours hide">
                            <h3>Delivery hours</h3>
                            <ul class="cart--available-delivery-hours">
                            </ul>
                        </div>
                    </div>
                    <h3>Subscription</h3>
                    <ul class="cart--available-purchase-type">
                        <li><label class="radio-purchase">
                                <input type="radio" checked="checked" name="delivery-purchase" value="0">
                                <div class="radio__text">One time</div>
                            </label></li>
                        <li><label class="radio-purchase">
                                <input type="radio" name="delivery-purchase" value="1">
                                <div class="radio__text">Subscribe and get free delivery</div>
                            </label></li>
                    </ul>
                    <ul class="cart--available-frequency-weeks hide">
                        <li><label class="radio-frequency-weeks">
                            <input type="radio" checked="checked" name="frequency-weeks" value="1">
                            <div class="radio__text">Every week</div>
                            </label></li>
                        <li><label class="radio-frequency-weeks">
                            <input type="radio" name="frequency-weeks" value="2">
                            <div class="radio__text">Every 2 weeks<span></span></div>
                            </label></li>
                    </ul>
                </div>
            </div>
            <div id="CartContainer" class="drawer__cart"></div>
        </div>
    </div>

{% endunless %}
