<ol>
    <li>
        <h4>1. User Agreement</h4>
        <ol>
            <li>a) By using the Workout Meals website (and mobile site) and our social media pages ("Website") you accept these terms and conditions ("Agreement") and our Privacy Policy. This Agreement is between you and Workout Meals as the Trustee for The Basket Group Trust (referred to in this Agreement as "we", "us" or "our"). We may change these terms at any time, and changes will be posted on the Website. By continuing to use the Website, you agree to be bound by the changes.</li>
        </ol>
    </li>
    <li>
        <h4>2. Subscription, Registration and User Requirements</h4>
        <ol>
            <li>a) By using the Website and its associated functionality, you grant your express consent to us to send you direct marketing communications to the email address you provide, from which you may unsubscribe at any time. Your consent to receipt of certain communications may be implied from the use of certain functional aspects of our service such as receiving our Newsletter and information about ‘What’s On’, from time to time.</li>
            <li>b) To subscribe to and/or register, and use the Website you must be at least 18 years old, have a current Australian residential address and have capacity to enter into a legally binding agreement with us.</li>
        </ol>
    </li>
    <li>
        <h4>3. Access and use of the Website:</h4>
        <ol><li>a) You must only use the Website through the interfaces provided by us and in accordance with these terms and any applicable law</li>
            <li>b) You must not (or attempt to):
                <ul>
                    <li>Interfere (or attempt to interfere) or disrupt (or attempt to disrupt) our site or the servers or networks that host our site;</li>
                    <li>use (or attempt to use) data mining, robots, screen scraping or similar data gathering and extraction tools on our site;</li>
                    <li>interfere (or attempt to interfere) with security-related or other features of our site; or
                    <li>use, copy or distribute (or attempt to use, copy or distribute) content without our express permission.</li>
                </ul>
                </li>
            <li>c) We may refer fraudulent or abusive or illegal activity to the relevant authorities. You are solely responsible for the activity that occurs on your account (including orders placed using your account), and you must keep your account password secure. We are not responsible for any unauthorised activity on your account if you fail to keep your account login information secure.</li>
            <li>d) You must not use another member's account without our, and/or the other user’s, express permission. If you suspect or become aware of any unauthorised use of your account or that your password is no longer secure, you must notify us immediately and take immediate steps to re-secure your account (including by changing your password).</li>
            <li>e) We do not warrant that the Website will be available at all times and without disruption and we provide no warranties in relation to the content of any other website linked to or from our Website.</li>
        </ol>
    </li>
    <li>
        <h4>4. Information on this Website</h4>
        <ul>
            <li>Information about goods and services on the Website is based on material provided by third party merchants, suppliers and product manufacturers. Except as required by law (including the Australian Consumer Law) we cannot be held responsible for inaccuracies or errors caused by incorrect information supplied to us or by these third parties, should these inaccuracies or errors occur.</li>
            <li>You agree to make your own enquiries to verify information provided and to assess the suitability of goods or services before you order the goods or services.</li>
            <li>Due to photographic and screen limitations associated with the representation of goods, some actual goods may differ to a small extent in visual appearance (for example in colour) from the way they appear on the Website. In addition, where it is suitable to do so, some depictions of products or services are created or chosen by us for promotional purposes, and may not be an exact representation of the product or service received.</li>
        </ul>
    </li>
    <li>
        <h4>5. Disclaimer and Liability</h4>
        <ul>
            <li>To the fullest extent possible at law, we exclude all liability to you or anyone else for loss or damage of any kind or nature relating in any way to the Website including, but not limited to, loss or damage you might suffer as a result of:errors, mistakes or inaccuracies on the Website or our social media pages;</li>
            <li>you acting or not acting, on any information contained on or referred to on the Website and/or any linked Website or our social media pages;</li>
            <li>personal injury or property damage of any nature resulting from your access to or use of the Website;</li>
            <li>any unauthorised access to or use of our secure servers and/or personal information and/or financial information stored on those servers;</li>
            <li>any interruption or cessation of transmission to or from the Website;</li>
            <li>any bugs, viruses, trojan horses or other harmful code or communications which may be transmitted to or through our Website by any third party; and/or</li>
            <li>the quality of any product or service of any linked sites.</li>
            <li>Where any law (including the Australian Consumer Law) provides a guarantee which may not be lawfully excluded, our liability will be limited to that provided by law.</li>
            <li>Except as required by law, in no event shall we, our affiliates and related entities or our suppliers be liable for any loss or any special, incidental or consequential damages arising out of or in connection with our Website or this Agreement (however arising, including negligence). You agree to accept sole responsibility for the legality of your actions under the laws that apply to you. You agree that we, our affiliates and related entities or our suppliers have no responsibility for the legality of your actions.</li>
            <li>It shall be your responsibility to make all necessary enquiries and take any action you consider necessary if you require insurance or require the service merchant to be insured or to have insurance coverage that covers you in respect of the provision of their goods and services, prior to proceeding with any booking or services. Workout Meals accepts no liability in this regard.</li>
        </ul>
    </li>
    <li>
        <h4>6. Indemnity</h4>
        <ol>
            <li>a) You will at all times indemnify, and keep indemnified, us and our directors, officers, employees and agents from and against any loss (including reasonable legal costs and expenses) or liability incurred or suffered by you or by us arising from any claim, demand, suit, action or proceeding by any person against you or us where such loss or liability arose out of, in connection with or in respect of your conduct or breach of this Agreement.</li>
        </ol>
    </li>
    <li>
        <h4>7. Placing Orders</h4>
        <ul>
            <li>You are responsible for all orders placed on your account, including for any discrepancies or errors in your order caused by you.</li>
            <li>The promotion of goods on the Website does not constitute an offer to sell. It is an invitation to treat only.</li>
            <li>Orders placed by you are offers to purchase goods under the terms and conditions in this Agreement at the price specified (including delivery and other charges).</li>
            <li>Goods in your cart are not reserved until you have completed the checkout process. Orders are only confirmed once payment is specified.</li>
            <li>We may reject your order, including in circumstances where we believe there may be a credit card fraud, or where we later become unable to ship your order, or if there has been an error in the price or product description on the Website.</li>
            <li>You must review your order carefully before placing it. Once an order is confirmed, you are unable to cancel or change it. If you have any problems with your order, then you must go through the normal returns process outlined in in this Agreement. Please note that change of mind returns are given at our absolute discretion. As a general rule, we will not change or replace your order where you have made an error.</li>
            <li>In the event that we cancel or are unable to fulfil your order, we will provide a full refund of any payment received.</li>
        </ul>
    </li>
    <li>
        <h4>8. Price, Payment and Use of Discount/Coupon Codes</h4>
        <ul>
            <li>The prices of goods, delivery and other charges shown are in Australian dollars.</li>
            <li>All payments must be received in full prior to cut off time or a voucher being issued. If your payment is not received or is declined by us, your bank or credit card issuer, we cannot and will not hold items against your order.</li>
            <li>A discount code is only valid for a single transaction and may not be used in conjunction with any other discounts.</li>
            <li>Workout Meals is not responsible for lost or stolen redemption codes or fraudulent use (by a person other than Workout Meals or the merchant) of the code’s unique reference number.</li>
            <li>WM360 is a non-discounted product and or service inclusive of delivery fee.</li>
        </ul>
    </li>
    <li>
        <h4>9. Store Credits</h4>
        <ul>
            <li>Any unused portion of your Store Credit shall be credited to your account.</li>
            <li>To the extent permitted by law, Workout Meals reserves the right to change any of the terms and conditions in relation to its Store Credit upon the provision of reasonable notice, including by notice on the Workout Meals Website.</li>
            <li>Store credit issued in lieu of a refund will expire after 12 months from the date of issue. Unless otherwise stated in any promotional materials or elsewhere by us, store credits issued for promotional purposes, or otherwise at our discretion (including for goodwill purposes) will expire after 3 months.</li>
        </ul>
    </li>
    <li>
        <h4>10. Supply and Delivery of Goods</h4>
        <ul>
            <li>Subject to this Agreement, we will supply the goods shown on your order confirmation. We will use our best endeavours to meet stated timeframes for delivery, however we cannot guarantee delivery timeframes will be met.</li>
            <li>Orders placed outside of standard delivery hours (8am to 8pm) will be fulfilled at earliest on the next day. I.e.: an order places at 10pm on Tuesday will be fulfilled between 8am and 9am on Wednesday. If you would like to receive your order at a different time, please contact us at <a href="mailto:customerservice@workoutmeals.com.au">customerservice@workoutmeals.com.au</a> or <a href="tel:1300 993 216">1300 993 216</a></li>
            <li>Delivery staff are unarmed and carry less than $25 cash.</li>
        </ul>
    </li>
    <li>
        <h4>11. Packaging and Labelling</h4>
        <ul>
            <li>We endeavour to depict goods available for order using accurate images of the goods. At times, however, goods actually delivered may to a small extent differ in appearance and packaging from their appearance in images and photographs on the Website.</li>
            <li>We recommend that you read the labels and instructions on foods or other consumables prior to consumption or use.</li>
            <li>Because some goods are imported or originate from outside of Australia, their packaging, ingredients and size may vary from the same or similar product available in Australia.</li>
        </ul>
    </li>
    <li>
        <h4>12.Goods Out of Stock</h4>
        <ul><li>We reserve the right to notify you that goods for which you placed orders have become unavailable for reasons beyond our control. You may receive a full refund or store credit (at your election) in the event we cannot fulfil your order.</li></ul>
        </li>
    <li>
        <h4>13. Change of Mind Returns</h4>
        <ul>
            <li>We cannot refund or exchange goods for change of mind or errors you made in your order. We may, at our sole discretion, allow a return for store credit or refund on a case-by-case basis, provided that the item in question is:returned within day of delivery;</li>
            <li>not used (with original tags and/or packaging); and</li>
            <li>not damaged in any way.</li>
            <li>If we allow a return in these circumstances, we will ask you to follow our returns process.</li>
            <li>We will provide you with a refund or store credit only when we receive the returned product. You are responsible for payment of return postage on your order. Change of mind returns are not accepted for any consumed or used items whatsoever. Remedies for defective goods are still available.</li>
        </ul>
        </li>
    <li>
        <h4>14. Defective Goods</h4>
        <ul>
            <li>Our goods come with guarantees that cannot be excluded under the Australian Consumer Law. You are entitled to a replacement for or refund for a major failure and compensation for any other reasonably foreseeable loss or damage. You are also entitled to have the goods replaced if the goods fail to be of acceptable quality and the failure does not amount to a major failure.</li>
            <li>Any warranty given by us will apply in addition to other rights and remedies you may have under the Australian Consumer Law or any other law. Where applicable, you may make a claim in relation to goods that are faulty in accordance with our 12 Month Warranty Terms & Conditions. This warranty only applies where specifically advertised in the product’s listing.</li>
            <li>Goods that you purchase from us may contain warranty documents on or inside the packaging provided by the manufacturer of the product. Any such warranty documents are not given by Workout Meals, and rights you may have in relation to those warranties are separate to any warranty rights given to you by Workout Meals. Some warranty documents provided by manufacturers of imported goods may not apply in Australia. You should contact the manufacturer identified on the warranty document to determine whether or not the warranty applies to the goods in Australia and, if so, how you should go about making a claim under such a warranty.</li>
        </ul>
    </li>
    <li>
        <h4>15. Process for Returns and Refunds</h4>
        <ul>
            <li>When seeking a return on a product, please contact us via our Concierge. Once contacted we will investigate your issues and advise you whether your product may be returned and, where required, provide you with a Return Authorisation and instructions on how to return your goods, with which you must comply.</li>
            <li>Once an item is returned we will either inspect your goods and investigate any claimed defect or, where we believe it is applicable, provide a remedy in relation to your goods. If we do not believe a remedy is applicable upon inspecting your goods (for example, where we believe the goods have been misused, or there was a failure to use in accordance with manufacturer's instructions, used it in an abnormal way or there has been a failure to take reasonable care), we will reject your claim and return your goods to you. You must cover the cost of return shipping in order to receive goods we have rejected on inspection, and we will provide you with instructions on how to make this payment.</li>
            <li>Refunds will be issued using the payment method used for purchase. Store credits will be issued to the account used to purchase the goods.</li>
            <li>We aim to process refunds and replacements within 28 days of receipt by us of the original product, however, depending on your item and the number of returns in our system, this may take longer.</li>
            <li>In the case of goods and/or services redeemable through a third party provider, the refusal of a refund or Store Credit does not prevent you from seeking a refund directly from the provider.</li>
        </ul>
    </li>
    <li>
        <h4>16. Social Media and Content</h4>
        <ul>
            <li>You understand that all information, such as comments, messages, text, files, images, photos, video, sounds and other materials ("content") posted on, transmitted through or linked from the Website, our Facebook page or other like application or site that allows for the publication of user generated material (“Social Media”), is the sole responsibility of the person from whom such content originated.</li>
            <li>You understand that we do not control and are not responsible for content made available through the Website or Social Media unless it originates from us. Consequently, by using the Website or our Social Media pages you may be exposed to content provided by third parties that is offensive, indecent, inaccurate, misleading or otherwise objectionable. You use the Website at your own risk and to the extent permissible at law we do not accept liability in this regard.</li>
        </ul>
        </li>
    <li>
        <h4>17. Allergy Warning</h4>
        Before consuming any Workout Meals products, please consider that they are produced in facilities that also handle the following allergens; milk, eggs, soy, seafood (including crustaceans), peanuts, sesame seeds, sulphites, tree nuts and gluten. Although some meals may not include these ingredients, it is not possible to guarantee the total absence of these allergens.
    </li>
    <li>
        <h4>18. Deliveries</h4>
        <ul>
            <li>Workout Meals schedules deliveries are dependent on region. Delivery days and times are subject to temporary change during special events, public holidays and other externalities.</li>
            <li>Although we best endeavour to give you an approximate time of delivery, unfortunately we are unable to give you an exact time due to unforeseen circumstances such as traffic. Your meal order may be delivered at any time after 12am on your scheduled delivery day. The meals are delivered in a box with liner to be immediately placed in your fridge; if you are not able to accept the delivery, the box will be placed at your doorstep at your own risk. Anyone at the delivery address who receives the goods will be presumed by Workout Meals to be authorised to receive the goods. You may specify a secure area where you would like the box left when you place your order and we will do our best to accommodate your request.
            B)THIRD PARTY DELIVERY SERVICE
                    You acknowledge that we use third party delivery services (collectively, the "Delivery Services"), to deliver your order. When you place your order with us, we will provide your name, address, contact information, including phone number, and information regarding your order to the Delivery Service so that they may deliver your order to you. In addition, we may provide other information to the Delivery Service, such as information regarding comments, reviews or ratings we receive from you regarding the Delivery Service to help improve the quality of their service.</li>
        </ul>
    </li>
</ol> 

<h3>Workout Meals 360° WAIVER , RELEASE AND INDEMNITY</h3>
<div>
    All content on the Workout Meals Website is created and published for informational purposes only. It is not intended to be a substitute for professional medical advice and should not be relied on as health or personal advice.
    Always seek the guidance of your doctor or other qualified health professional with any questions you may have regarding your health or a medical condition. Never disregard the advice of a medical professional, or delay in seeking it because of something you have read on this Website.
    If you think you may have a medical emergency, call your doctor, go to the nearest hospital emergency department, or call the emergency services immediately.
    If you choose to rely on any information provided by Workout Meals, you do so solely at your own risk.
</div>
<div>
    <b>PLEASE NOTE</b> that this Workout Meals Plan/Program is not a substitute for professional medical advice from your treating GP. The information contained within the Plan
    is not intended to provide you with specific physical or mental health advice, or any other type of advice whatsoever, and should therefore
    not be relied upon in the furtherance of your medical protocol  or treating any medical condition. WOM and its staff are not medical professionals and have no medical training
    and  therefore the information contained within the WOM Website or App should not be construed as Workout Meals providing you with health or personal advice.
    WM360 is a non-discounted product and or service inclusive of delivery fee.
 </div>
<h3>WARRANTIES  BY YOU AS PARTICPANT IN THE PLAN/PROGRAM</h3>
<ul>
    <li>That you are physically fit and in good health and able to participate in WOM Programs/Plans without any undue risk;</li>
    <li>That you have no pre-existing medical, physical or mental condition(s) which may compromise you state of health or wellbeing by participating in the Plan/Programs;</li>
    <li>That you knowingly and voluntarily accept, and assume responsibility for, any risk and or danger,  and all other risks that could arise out of, or occur during  your participation in the implementation of the Plan/Program;</li>
    <li>That you acknowledge that WOM and its staff maintain the right to refuse your participation in the Plan/Program should we be of the opinion that your participation would cause risk of injury to you;</li>
    <li>That participation in the Plan may result in risk of injury to participants regardless of their level of fitness and or dietary requirements due to the inherent nature of undertaking any form of exercise;</li>
    <li>That, at any stage during your participation in the Plan/Program, you seek medical advice  or medical intervention, in the event that you experience poor health outcomes, or suffer a physical injury as a result of partaking in any exercise program which is either commensurate with your level of fitness or exceeding your level of fitness;</li>
    <li>That you acknowledge that WOM will not assume any responsibility for any injuries, including critical injuries, or health problems you may experience as a result of using any WOM products or engaging in any services provided by WOM;</li>
    <li>That you AGREE that your participation in the WOM Program or Meal Plan is not only voluntary and knowingly but that you agree to assume any risk or danger that is associated with participating in one of WOM’s Programs and Plans;</li>
    <li>That you agree to Release, Waive , Discharge and covenant not to bring a claim against WOM, or any subdivision thereof, and each of them, their officers and Employees(collectively “the Releasee’s), from any  and for any liability resulting from  a personal injury, accident or illness, including critical injuries, however caused, arising from, or in any way related to your participation in any WOM Plan:
        <ul>
            <li>You also agree to indemnify, defend and hold the Releasees harmless from any claims, actions, suits, procedures, costs, expenses, damages and liabilities  including, but not limited to, legal costs, arising from, or in any way related to, your participation in a WOM Plan/Program;</li>
            <li>You also agree that the foregoing assumption of risk, release and waiver of liability and indemnity agreement is intended to be broad and inclusive as is permitted by law of  the State of New South Wales and that if any portion thereof is held invalid, it is agreed that the balance shall, notwithstanding, continue to have full force and effect. That WOM  do not provide insurance cover for you.</li>
        </ul>
    </li>
</ul>

<h3>ACKNOWLEDGEMENT OF UNDERSTANDING</h3>
<div>
    The undersigned have read this assumption of risk, release and waiver of liability and indemnity, and have had an opportunity to ask questions with respect to same. Accordingly, you fully
    understand this assumption of risk, release and waiver of liability and indemnity and further, that you are voluntarily and freely giving up substantial rights in connection therewith,
    and that these terms  are strictly contractual and not a mere recital. You further acknowledge and agree that you are signing this agreement freely and  voluntarily.
</div>
<div>
    <h3>Generally expected results from Workout Meals</h3>
    Although the products and services at Workout Meals are intended to be fully implemented, sometimes they are not, which could result in a lack of progress/results for the user. If you implement the products and services from <a href="/">WorkoutMeals.com.au</a> correctly you should see amazing results, however it must be disclaimed that even when consumers implement any products or services in full from <a href="/">WorkoutMeals.com.au</a> it is still possible they will not get the results they may have expected and it is also possible they will not lose fat or gain muscle or achieve any positive results of any kind.
</div>