<div class="grid"
     data-section-type="mealPack"
     data-ajax-template="ajax-meal-pack">

    <div class="meal-pack-page">
        {% include 'snippet-meals-pack' %}
    </div>

</div>

{% schema %}
{
"name": "Meal Pack Products",
"class": "meal-pack-products"
}
{% endschema %}