{% if section.settings.show_related_products == true and product.type != "Free Item" %}

    <div class="product-template__container" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

        {% assign heading = section.settings.related_title %}

        {% assign same_vendor = false %}
        {% assign same_type = false %}

        {% assign exclusions = 'frontpage,all' | split: ',' %}

        {% if product.metafields.c_f['Related Products'] %}
            {% assign collection = collections[product.metafields.c_f['Related Products']] %}
        {% endif %}

        {% assign found_a_collection = false %}
        {% if collection and collection.all_products_count > 1 %}
            {% unless exclusions contains collection.handle %}
            {% assign found_a_collection = true %}
            {% endunless %}
        {% endif %}
        {% unless found_a_collection %}
            {% for c in product.collections %}
                {% unless exclusions contains c.handle or c.all_products_count < 2 %}
                {% assign found_a_collection = true %}
                {% assign collection = c %}
                {% break %}
                {% endunless %}
            {% endfor %}
        {% endunless %}

        {% if found_a_collection %}

            {% assign counter = 0 %}
            {% assign current_product = product %}

            {% case number_of_related_products_per_row %}
            {% when '1' %}
            {% assign grid_item_width = '' %}
            {% when '2' %}
            {% assign grid_item_width = 'large--one-half medium--one-half' %}
            {% when '3' %}
            {% assign grid_item_width = 'large--one-third medium--one-half' %}
            {% when '4' %}
            {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
            {% when '5' %}
            {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
            {% when '6' %}
            {% assign grid_item_width = 'large--one-sixth medium--one-third small--one-half' %}
                {% else %}
            {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
            {% endcase %}

            {% include 'product-pop-up' %}

            {% capture related_items %}
                {% for product in collection.products %}
                    {% unless product.handle == current_product.handle %}
                        {% unless same_vendor and current_product.vendor != product.vendor %}
                            {% unless same_type and current_product.type != product.type %}

                                <div class="grid__item">
                                    {% include 'collections-product-block' %}
                                </div>

                            {% assign counter = counter | plus: 1 %}
                                {% if counter == 10%}
                                    {% break %}
                                {% endif %}
                            {% endunless %}
                        {% endunless %}
                    {% endunless %}
                {% endfor %}
            {% endcapture %}

            {% assign related_items = related_items | trim %}

            {% unless related_items == blank %}

                <div class="product-recommendations product-recommendations-wrapper">
                    {% unless heading == blank %}
                        <div class="section-header">
                            <h2 class="section-header__title">{{ heading }}</h2>
                        </div>
                    {% endunless %}
                    <div class="grid product-recommendations_slider">
                        {{ related_items }}
                    </div>
                </div>
            {% endunless %}

        {% endif %}

    </div>
{% endif %}


{% schema %}
    {
        "name": "Related products",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_related_products",
                "label": "Show related products",
                "default": false
            },
            {
                "id": "related_title",
                "type": "text",
                "label": "Section title",
                "default": "Related products"
            }
        ]
    }
{% endschema %}