
{{ 'sus-template.css' | asset_url | stylesheet_tag }}

<div class="sustainability-page__container">
{% comment %}further class name for div inner this template will start with "sus"{% endcomment %}

{% section 'sustainability-content--header' %}


{% section 'sustainability-content--section' %}

</div>
